{# content post listed template #}
<article am-postSquare>

    <figure am-postSquare-bg style="background-image: url('{{ post.thumbnail.src('thumbnail') }}')"></figure>

    <a href="{{ post.link }}">

        <span am-postSquare-title>{{ post.post_title }}</span>

        <span am-postSquare-meta>

            <span>{{ post.post_date|date }}</span>

            {% if post.terms('categories') is not empty %}
                {% for term in post.terms('categories') %}
                    <span>{{term.name}}</span>
                {% endfor %}
            {% endif %}

        </span>

    </a>

</article>
