{# content post template #}
<article>

    {% block post_header %}
        <header am-box="enclosed" am-text="centered">

            <h2><a href="{{ post.link }}">{{ post.post_title }}</a></h2>

            {% block post_header_meta %}
                <div am-text="300 silver uppercased spacedBig">

                    <small am-box="inline">{{ post.post_date|date }}</small>

                    {% if post.terms('categories') is not empty %}
                        <ul am-list="inline spacedHLittle">
                            {% for term in post.terms('categories') %}
                                <li><a href="{{ term.link }}"><small>{{term.name}}</small></a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            {% endblock %}

        </header>
    {% endblock %}

    {% block post_content %}
        <section am-text="spaced">
            {{ post.content }}
        </section>
    {% endblock %}

    {% block post_comments %}
        {% if post.comment_status != "closed" %}
            {% include "partials/comment-form.twig" with {'form_post_id': post.ID, 'form_comment_count': post.comment_count } %}
            <section>
                {% if post.comment_count > 0 %}
                    {% for comment in post.comments %}
                        {% include "partials/content-comment.twig" with {'commentIndex': loop.index} %}
                    {% endfor %}
                {% else %}
                    <article class="post-comment" am-text="centered">
                        <p>Brak komentarzy.</p>
                    </article>
                {% endif %}
            </section>
        {% endif %}
    {% endblock %}

    {% block post_social %}
        <footer class="post-social">

            <hr am-line="inline">

            <nav am-box am-text="centered">
                <ul am-list="inline spacedHLittle">

                    <!-- Facebook -->
                    <li>
                        <a href="http://www.facebook.com/sharer.php?u={{ post.link }}" am-button="naked spaceless" target="_blank">
                            <img am-icon src="{{ theme.link }}/img/icons/facebook-gray-o.png" alt="Facebook">
                        </a>
                    </li>

                    <!-- Pinterest -->
                    <li>
                        <a href="http://pinterest.com/pin/create/link/?url={{ post.link }}" am-button="naked spaceless" target="_blank">
                            <img am-icon src="{{ theme.link }}/img/icons/pinterest-gray-o.png" alt="Pinterest">
                        </a>
                    </li>

                    <!-- Email -->
                    <li>
                        <a href="mailto:?Subject={{ site.title }}&Body={{ post.link }}" am-button="naked spaceless" target="_blank">
                            <img am-icon src="{{ theme.link }}/img/icons/envelope-gray-o.png" alt="Mail">
                        </a>
                    </li>


                </ul>
            </nav>

            <hr am-line="inline">

        </footer>
    {% endblock %}

</article>
