{# header template #}
<header id="appHeader">

    <section id="appMenu">

        <!-- mobile menu toggle -->
        <a am-button="naked" id="appMenuOpener">
            <img src="{{ theme.link }}/img/icons/menu-burger.png" alt="=">
        </a>

        <a am-button="naked" id="appMenuCloser">
            {# <img src="{{ theme.link }}/img/icons/menu-close.png" alt="x"> #}
            <img src="{{ theme.link }}/img/icons/menu-burger.png" alt="=">
        </a>

        <div id="appMenuWrapper" am-box="wrapper">

            <!-- search box mobile -->
            <div id="appMenuSearch" am-box="paddedH" am-responsive="mobile" am-columnPull="3/12">
                <form id="searchform" method="get" action="{{ site.url }}/index.php">
                    <input am-textBox type="text" name="s" id="s" value="" placeholder="Wyszukaj na blogu">
                    <input am-button="hidden" type="submit" value="Search">
                </form>
            </div>

            <!-- pages nav -->
            {% if glowneMenu.get_items is not empty %}
                <nav id="appMenuPages">
                    <ul am-list="inline spaced" am-text="uppercased spaced">
                        {% for item in glowneMenu.get_items %}

                            <li><a href="{{item.url}}">{{ item.title }}</a></li>

                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}

            <!-- search box desktop -->
            <div id="appMenuSearch" am-box="paddedH" am-responsive="desktop">
                <form id="searchform" method="get" action="{{ site.url }}/index.php">
                    <input am-textBox type="text" name="s" id="s" value="" placeholder="Wyszukaj na blogu">
                    <input am-button="hidden" type="submit" value="Search">
                </form>
            </div>

            <!-- social nav -->
            <nav id="appMenuSocial" am-box="paddedH" am-text="centered">
                <ul am-list="inline spacedHSmall">
                    {% for item in socialMenu %}

                        <li>
                            <a href="{{ item.url }}" am-button="naked spaceless" target="_blank">
                                <img am-icon src="{{ theme.link }}/img/icons/{{ item.icon }}-big.png" alt="{{ item.title }}">
                            </a>
                        </li>

                    {% endfor %}
                </ul>
            </nav>

            <!-- newsletter mobile -->
            <div id="appMenuNewsletter" am-responsive="mobile">

                {% include "partials/sidebar-sections/newsletter.twig" %}

            </div>

        </div>

    </section>

    <section id="appBanner" am-text="centered">

        <a href="{{ site.url }}" am-button="naked spaceless">
            <img id="logo" src="{{ theme.link }}/img/migdalowyswiat-logo-420.png" alt="{{ site.title }}">
        </a>

    </section>

    <!-- about me mobile -->
    <section am-responsive="mobile" am-box="paddedV">

        {% include "partials/sidebar-sections/about-me.twig" %}

    </section>


</header>
