<header id="appHeader">

    <section id="appMenu" am-box="ruled">

        <div am-box="wrapper">

            <!-- pages nav -->
            {% if glowneMenu.get_items is not empty %}
                <nav id="appMenuPages">
                    <ul am-list="inline spaced" am-text="uppercased">
                        {% for item in glowneMenu.get_items %}

                            <li><a href="{{item.url}}">{{ item.title }}</a></li>

                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}

            <!-- search box -->
            <div id="appMenuSearch" am-box="paddedH">
                <form id="searchform" method="get" action="{{ site.url }}/index.php">
                    <input am-textBox type="text" name="s" id="s" value="" placeholder="Wyszukaj na blogu">
                    <input am-button="hidden" type="submit" value="Search">
                </form>
            </div>

            <!-- social nav -->
            <nav id="appMenuSocial" am-box="paddedH" am-text="centered">
                <ul am-list="inline spacedHLittle">
                    {% for item in socialMenu %}

                        <li>
                            <a href="{{ item.url }}" am-button="naked spaceless" target="_blank">
                                <img src="{{ theme.link }}/img/icons/{{ item.icon }}.png" alt="{{ item.title }}">
                            </a>
                        </li>

                    {% endfor %}
                </ul>
            </nav>

        </div>

    </section>

    <section id="appBanner" am-text="centered">

        <a href="{{ site.url }}" am-button="naked spaceless">
            <img id="logo" src="{{ theme.link }}/img/migdalowyswiat-logo-420.jpg" alt="{{ site.title }}">
        </a>

    </section>


</header>
