<!DOCTYPE html>
<!--[if lte IE 8]><html {{ site.language_attributes }} class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html {{ site.language_attributes }}><!--<![endif]-->

<head>

    <!-- stuff -->
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- info -->
    <title>{{wp_title}}</title>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Leszek Pietrzak">
    <link rel="author" href="humans.txt">
    <link rel="home" href="{{ site.link }}">

    <!-- open graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:title" content="">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.link }}">
    <meta property="og:image" content="assets/img/image-200.png"/>

    <!-- style & viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ theme.link }}/css/main.css?version={{ cacheTimestamp }}" media="all" rel="stylesheet">

    <!-- icons -->
    <link rel="shortcut icon" href="{{ theme.link }}/favicon.ico?version={{ cacheTimestamp }}">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png?version={{ cacheTimestamp }}">

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,600|Hammersmith+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- custom WP elements -->
    {{ function('wp_head') }}

    <!-- modernizr -->
    <script src="{{ theme.link }}/js/modernizr.min.js"></script>

<body id="app" {{ body_class }}>
